
span{
     height:75px;
     width:50px;
     background:#00ff00;

      
}


div{
	height: 100px;
	width: 45%;
	background: #00ffff;
	}

p{

	background:#00ffff;
	width:200px;
	height:100px;
	
}