
h1{color:darkgreen;
   background:lightgrey;
   text-align:center;
   font-family:Arial;}
body{background:lightblue;
     margin-left:20px;
     font-size:125%:
     }
footer{color:red;
       font-size:150%;}